/* contract page  */
.contract {
  margin-top: 30px;
  min-height: 80vh;

  position: relative;
}
/* this is for main admin page  */

.row-sub-admin {
  display: block;
  padding: 2rem 0 0 2rem;
  max-width: 100%;
  margin: auto;
  float: left;

  /* overflow: hidden; */
}
.row-sub-admin .write-2 {
  border: rgba(0, 0, 0, 0.849) solid 12px;
  border-radius: 22px;
  box-shadow: 5px 7px 8px;
  background: whitesmoke;
  overflow: hidden;
}
.row-sub-admin .write-2:hover {
  transform: translateY(-2px);
}
@media screen and (min-width: 850px) {
  .row-sub-admin {
    width: 50%;
  }
}
@media screen and (min-width: 1700px) {
  .row-sub-admin {
    width: 25%;
  }
}
.admin-aprove,
.admin-delete {
  text-transform: uppercase;
  padding: 5px;
  margin: 20px;
  cursor: pointer;
}
.admin-aprove {
  background: rgb(5, 77, 5);
  border-radius: 6px;
  box-shadow: 2px 3px 4px;
  color: whitesmoke;
  font-weight: bolder;
}
.admin-aprove:hover {
  background: rgba(5, 77, 5, 0.562);
  color: rgb(0, 0, 0);
}
.admin-delete {
  background: rgb(133, 14, 14);
  border-radius: 6px;
  box-shadow: 2px 3px 4px;
  color: whitesmoke;
  font-weight: bolder;
}
.admin-delete:hover {
  background: rgba(133, 14, 14, 0.493);
  color: rgb(12, 11, 11);
}
.main-admin {
  background: radial-gradient(#c6d9ec, #527a7a);
  min-height: 100vh;
  overflow: hidden;
}
.name2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 20px 0;
  color: #000000;
}
.nav-link2 {
  background: black;
  text-align: center;
  display: block;
  font-size: 1.2rem;
  border: rgb(0, 0, 0) solid;
  border-radius: 10px;
  margin: 20px 30px 0 0;
  color: rgb(255, 255, 255);
  font-weight: 5px;
  transition: var(--maintransittion);
}
.p-dis {
  max-width: 70%;
  min-height: 10vh;
}
